################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Refuerzo2024/FileContentIndex
/.vs/Refuerzo2024/v17
/.vs/Recuperacion Paul Cañas/v17
